<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>New Blogs monthly</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/pstringer3/C9-"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/parker_stringer/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/parker.stringer.1"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</div>