    <div class= "app-card-container">
    <div class= "card">
      <h1>About Me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>
    
      <div class="col-md-8">
        <p>Hello, My name is Parker Stringer I am currently enrolled at Corner Canyon High school as a sophmore.</p>
    
        <p> One of my favorite hobbies is listening to records in my spare time. I also enjoy playing video games and hanging out with some friends</p>
      
      <p>
        <button
        class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#JobHistory"
        aria-expanded="false"
        aria-controler="jobHistory"
        >
          JobHistory
          </button>
          
           <button
        class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#Education"
        aria-expanded="false"
        aria-controler="education"
        >
          Education
          </button>
          </p>
          <p>
            <div class="collapse" id="JobHistory">
              <div class= "card card-block">
                House Work
              </div>
            </div>
          
            <div class="collapse" id="Education">
              <div class= "card card-block">
                Currently enrolled at CCHS
              </div>
            </div>
            </p>
          <p>
      