<div class= "app-card-container">
<div class= "card">

<h1>Contact Information</h1>

<hr>

<div class="row">
<div class="col-md-12">
  <h3>Address</h3>
  
  <p>404 Steep Mountain Dr</p>
  
  <h3>Phone</h3>
<p><%= number_to_phone "801-669-0246" %></p>

<h3>Email</h3>

<p><a href= "mailto:stringerparker@gmail.com?subject=PortfolioContact" "Email Me">Email me </a> </p>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d906.8920170914113!2d-111.87982717074503!3d40.47906389870986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875280935de2048f%3A0x644984ecbf4acc54!2s404+Steep+Mountain+Dr%2C+Draper%2C+UT+84020!5e1!3m2!1sen!2sus!4v1500394875094" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>