<div class="inner cover">
  <h1 class="cover-heading">HomePage</h1>
  <p class="lead">Learn about my life in this interactive wesite that I designed</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>